html, body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* Style */
body {
    font-family: poppins;
    background-color: gainsboro;
}

