html, body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}



/* Style */
.container {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#calculate {
    width: 300px;
    margin-top: 20px;
}